* {
  box-sizing: border-box;
}
h1{
	font-family:verdana;
	font-size:150%;
	text-align:center;
}
h3{
  font-family:verdana;
  font-size:85%;
  text-align:center;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 10px;
}