* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/juice1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 20px;
    /* overflow: hidden;  */
    overflow-x: hidden;
    align-items: center;
}

.overlay {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbody {
    max-width: 2000px;
    margin: 0 auto;
}

.main {
    display: grid;
    text-align: center;
    padding: 40px;
}

.column {
    float: left;
    width: 50%;
}


/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

.row1 {
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0 100px;
    font-family: raleway, sans-serif;
    color: #4b4741;
    text-align: center;
    font-weight: 800;
}

.center {
    display: flex;
    flex-direction: column;
}

.first-level {
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;
}

.odd {
    align-self: flex-start;
}

.even {
    align-self: flex-end;
}

.dots {
    border-bottom: dotted;
    z-index: -1;
    position: relative;
    height: 13px;
    flex-grow: 1;
    margin: 0 5px;
}

.imagedrink {
    padding-top: 4%;
    padding-bottom: 4%;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

h4 {
    text-align: left;
    margin: 5px 0;
    float: left;
    padding-right: 10px;
    display: inline;
    background: #fff;
}