* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/food_item.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 20px;
    /* overflow: hidden;  */
    overflow-x: hidden;
    align-items: center;
}

.img {
    padding: 10px;
    width: 450px;
    height: 250px;
    object-fit: contain;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 350px;
    height: 400px;
    padding: 0 13px 18px 0;
}

.res-image {
    height: 60%;
    width: 100%;
    border-radius: 5px;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    object-fit: cover;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.res-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.res-name {
    font-weight: bold;
    font-size: 18px;
    display: inline-flex;
    flex-grow: 1;
}

.res-rating {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.res-rating>.material-icons {
    font-size: 22px;
    margin-right: 6px;
}

.rating-value {
    color: rgb(79, 79, 79);
}

.res-des {
    font-size: 15px;
}

.res-details div {
    padding-bottom: 3px;
}

.veg-indian-vegetarian:before {
    margin-right: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 30px;
}

.header-container .box {
    justify-content: flex-end;
    flex-grow: 1;
    display: inline-flex;
    padding-right: 70px;
}

.search-container {
    border: 1px solid #000;
    height: 100%;
}

.box input,
button {
    /* position: relative;
    display: inline-block; */
    font-size: 20px;
    /* box-sizing: border-box; */
    transition: .5s;
}

input[type="text"] {
    background: #fff;
    width: 250px;
    border: none;
    outline: none;
    height: 40px;
    padding-left: 5px;
    /* border-radius: 25px 0 0 25px; */
}

button[type="submit"] {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}

button[type="submit"]:hover {
    background: #ff5722;
}

.overlay {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbody {
    max-width: 2000px;
    margin: 0 auto;
}

.card-container .fa {
    margin-left: 5px;
    color: green;
}

h2 {
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.cBmpNp {
    display: inline-flex;
    align-self: flex-end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 5rem;
    height: 1.8rem;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    background: rgb(255, 255, 255);
}

.card .container {
    flex-direction: row;
    display: flex;
    width: 100%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}