* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/food_item.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 20px;
    /* overflow: hidden;  */
    overflow-x: hidden;
    align-items: center;
}


/* .box {
    position: absolute;
    /* top: 50%; */


/* left: 50%; 
    right: auto;
    widows: 500px;
    transform: translate(-50%, -50%);
}*/

.header-container {
    display: flex;
    align-items: center;
    height: 30px;
}

.header-container .box {
    justify-content: flex-end;
    flex-grow: 1;
    display: inline-flex;
    padding-right: 70px;
}

.search-container {
    border: 1px solid #000;
    height: 100%;
}

.box input,
button {
    /* position: relative;
    display: inline-block; */
    font-size: 20px;
    /* box-sizing: border-box; */
    transition: .5s;
}

input[type="text"] {
    background: #fff;
    width: 250px;
    border: none;
    outline: none;
    height: 40px;
    padding-left: 5px;
    /* border-radius: 25px 0 0 25px; */
}

button[type="submit"] {
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}

button[type="submit"]:hover {
    background: #ff5722;
}

.overlay {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbody {
    max-width: 2000px;
    margin: 0 auto;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}