footer {
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    background: #191919;
}

.footer-inner {
    float: left;
    width: 100%;
    margin: 10px;
}

.container {
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.footer-social {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 30px;
}

h3 {
    font-family: 'Playball', cursive;
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.footer-social ul li {
    display: inline-block;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.footer-social ul li a {
    float: left;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
}

.footer-contacts {
    float: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.footer-contacts li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.footer-contacts li a,
.footer-social ul li a,
.team-social li a,
.popup-modal-dismiss {
    transition: all 400ms linear;
    color: #fff;
}

.to-top-holder {
    float: left;
    width: 100%;
    background: #262526;
    position: relative;
    padding: 40px 0 30px;
}

.to-top-holder p {
    float: left;
    color: #fff;
    letter-spacing: 1px;
}

.footer-contacts li:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #919191;
}