*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
	background: url(../images/cafe2.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	font-size: 18px;
}
header{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:20vh;
  }
.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}
.mainbody{
  max-width:1180px;
  margin:0 auto;
}
.logo{
  height:70px;
  width:auto;
  float:left;
  margin-top:20px
}
.c-menu{
  float: right;
  margin-top: 60px;
}
.c-menu li{
  display: inline-block;
  list-style: none;
  margin-left: 20px
}
.c-menu li a{
  padding: 5px 0;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 100;
}
.c-menu li a:hover{
  border-bottom: 2px solid #fff;
}
.signup{
	width: 400px;
	height: 500px;
	background: rgba(0, 0 ,0,0.5);
	color: #fff;
	top: 18%;
	left: 35%;
	position: absolute;
	padding: 25px 20px;
}
h1{
	margin: 0;
	padding: 0 0 15px;
	text-align: center;
	font-size: 20px;
}
.signup input{
	width: 50%;
	margin-bottom: 20px;
}
.signup input[type="text"],input[type="password"],input[type="email"],input[type="number"]
{
	border: none;
	border-bottom: lpx solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.gender{
	white-space: nowrap;
	display: inline;
}
.radio{
	text-align: left;
	display: inline-block;
}
.signup input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	width: 100%;
	
}
.signup input[type="submit"]:hover
{
	cursor: pointer;
	background: #39dc79;
	color: #000;
}
