* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/cart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 20px;
    /* overflow: hidden;  */
    overflow-x: hidden;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.overlay {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofo-main {
    display: grid;
    text-align: center;
}

.ofo-main .ofo-column {
    margin: 10px;
    display: flex;
    /* justify-content: flex-end; */
    float: left;
    width: 60%;
    margin-left: 30px;
    justify-content: center;
}

.ofo-main .ofo-column-shipping {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.heading h2 {
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.shipping input,
textarea,
button {
    width: 300px;
    outline: none;
    padding: 10px 11px;
    border: 1px #000 solid;
    font-size: 18px;
    background: #fff;
    display: block;
    margin-top: 10px;
}

.shipping .button {
    background-color: #fc8019;
}

.shipping {
    width: 400px;
    height: 400px;
    color: #000;
    box-sizing: border-box;
    padding: 10px 10px;
    display: inline-flex;
}

h4 {
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*set the forgot password text*/

span.psw {
    float: right;
    padding-top: 16px;
}


/*set the Modal background*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}


/*style the model content box*/

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
}


/* add zoom animation*/

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 650px;
    height: 150px;
    flex-direction: row;
    padding: 10px;
}

.res-image {
    /* height: 85%; */
    width: 30%;
    border-radius: 5px;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    object-fit: cover;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
    margin-right: 10px;
}

.fa-trash {
    color: #d81f1f;
    cursor: pointer;
}

.res-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}

.res-name {
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
    flex-grow: 1;
}

.rating-value {
    color: rgb(79, 79, 79);
}

.veg-indian-vegetarian:before {
    margin-right: 10px;
}

.btn {
    width: 100px;
    margin-left: 30px;
}

.close {
    width: 50px;
}

.btn-primary {
    background-color: #fc8019;
    border-color: #fc8019;
}

.btn.btn-primary.dropdown-toggle {
    background-color: #fc8019;
    border-color: #fc8019;
}

.btn-primary:hover {
    background-color: #fc8019;
    border-color: #fc8019;
}

select {
    width: 100px;
}

label {
    float: left;
    font-weight: bold;
}

.total {
    font-weight: bold;
}

.close-btn {
    background-color: #ffffff;
    border: none;
    width: 26px;
    height: 26px;
    color: #74716f;
    margin-right: 20px;
    font-size: 20px;
    align-self: flex-end;
}