* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/image4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 20px;
    /* overflow: hidden;  */
    overflow-x: hidden;
    align-items: center;
}

.overlay {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    float: left;
    width: 45%;
    margin: 10px;
}

h2 {
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.mainbody {
    max-width: 2000px;
    margin: 0 auto;
}

.main {
    display: grid;
    text-align: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
#scroll {
    background: none;
    border: none;
}